<p>But time went by.<br>
    And the boy grew older.<br>
    And the tree was often alone.<br>
    Then one day the boy came to the tree<br>
    and the tree said, "Come, Boy, come and<br>
    climb up my trunk and swing from my<br>
    branches and eat apples and play in my<br>
    shade and be happy."<br>
    "I am too big to climb and play" said<br>
    the boy.<br>
    "I want to buy things and have fun.<br>
    I want some money?"<br>
    "I'm sorry," said the tree, "but I<br>
    have no money.<br>
    I have only leaves and apples.<br>
    Take my apples, Boy, and sell them in<br>
    the city. Then you will have money and<br>
    you will be happy."<br>
    And so the boy climbed up the<br>
    tree and gathered her apples<br>
    and carried them away.<br>
    And the tree was happy.</p>