<p>But the boy stayed away for a long time....<br>
    and the tree was sad.<br>
    And then one day the boy came back<br>
    and the tree shook with joy<br>
    and she said, "Come, Boy, climb up my trunk<br>
    and swing from my branches and be happy."<br>
    "I am too busy to climb trees," said the boy.<br>
    "I want a house to keep me warm," he said.<br>
    "I want a wife and I want children,<br>
    and so I need a house.<br>
    Can you give me a house ?"<br>
    " I have no house," said the tree.<br>
    "The forest is my house,<br>
    but you may cut off<br>
    my branches and build a<br>
    house. Then you will be happy."<br>
    
    And so the boy cut off her branches<br>
    and carried them away<br>
    to build his house.<br>
    And the tree was happy.</p>