<p>And after a long time<br>
    the boy came back again.<br>
    "I am sorry, Boy,"<br>
    said the tree," but I have nothing<br>
    left to give you -<br>
    My apples are gone."<br>
    "My teeth are too weak<br>
    for apples," said the boy.<br>
    "My branches are gone,"<br>
    said the tree. " You<br>
    cannot swing on them - "<br>
    "I am too old to swing<br>
    on branches," said the boy.<br>
    "My trunk is gone, " said the tree.<br>
    "You cannot climb - "<br>
    "I am too tired to climb" said the boy.<br>
    "I am sorry," sighed the tree.<br>
    "I wish that I could give you something....<br>
    but I have nothing left.<br>
    I am just an old stump.<br>
    I am sorry...."<br>
    "I don't need very much now," said the boy.<br>
    "just a quiet place to sit and rest.<br>
    I am very tired."<br>
    "Well," said the tree, straightening<br>
    herself up as much as she could,<br>
    "well, an old stump is good for sitting and resting<br>
    Come, Boy, sit down. Sit down and rest."<br>
    And the boy did.<br>
    And the tree was happy.</p>