<p>But the boy stayed away for a long time.<br>
    And when he came back,<br>
    the tree was so happy<br>
    she could hardly speak.<br>
    "Come, Boy," she whispered,<br>
    "come and play."<br>
    "I am too old and sad to play,"<br>
    said the boy.<br>
    "I want a boat that will<br>
    take me far away from here.<br>
    Can you give me a boat?"<br>
    "Cut down my trunk<br>
    and make a boat," said the tree.<br>
    "Then you can sail away...<br>
    and be happy."<br>
    And so the boy cut down her trunk<br>
    and made a boat and sailed away.<br>
    And the tree was happy<br>
    ... but not really.
</p>